.login-background {
  background-image: url('./images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; 
  overflow: auto;

}

#app {
  height: 100%;
  overflow: auto;
}

#white-background{
  background: white;
  
  margin-top: 10%;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px  

}

h1 {

  margin-left: 10px;

}

h2 {
  margin-left: 10px;
}

h3 {
  margin-left: 10px;
}

.outer-map-wrapper {
  text-align: center
}

.inner-map-wrapper {
  display: inline-block
}
